.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
scripts/**
.git
.gitignore
node_modules/**
*.vsix
QUICKSTART.md
test-extension.sh
!validation-artifacts/**
